.img-hover-zoom--slowmo img {
    transform-origin: 5% 10%;
    transition: transform 2s, filter 3s ease-in-out;
    filter: brightness(100%);
  }
  
  /* The Transformation */
  .img-hover-zoom--slowmo:hover img {
    filter: brightness(75%);
    transform: scale(1.2);
  }