{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mt-3">
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <p>{{message}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            </div>
        </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
